.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
	gap: 15px;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
	max-width: 1600px;
}

.productsHeading{
	text-align: center;
	margin: 40px 0px;
   
  
  }
  .productsHeading h2{
	font-size: 40px;
	font-weight: 800;
  }
  .productsHeading p{
	font-size: 16px;
	font-weight: 200;
  }