.wrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	left: 50%;
	transform: translate(-50%);
	max-width: 1200px;
}
.checkBox {
	margin-right: 0.5em;
}
.informationContainer {
	width: 50%;
}
.cartContainer {
	width: 50%;
	height: 100vh;
	margin-left: 10px;
	border-left: 1px solid rgba(0, 0, 0, 0.199);
}
.adressContainer h2 {
	margin-bottom: 0.8em;
	margin-top: 2em;
}

.inputBox {
	position: relative;
	min-width: 290px;
	width: 100%;
	padding-right: 1em;
}

.inputBox input {
	position: relative;
	width: 100%;
	padding: 14px;
	border: 1px solid rgba(2, 2, 2, 0.349);
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	margin-bottom: 1em;
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: gray;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
	color: black;
	transform: translate(10px) translateY(-7px);
	font-size: 0.95em;
	padding: 0 5px;
	letter-spacing: 1px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #fff;
}
.inputBox input:focus {
	border: 1px solid black;
}

.box {
	display: flex;
	width: 100%;
}
.btn {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-right: 1em;
}
.btn button {
	padding: 15px 30px;
	border: none;
	background-color: rgb(17, 17, 17);
	color: aliceblue;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}

@media screen and (max-width: 1206px) {
	.wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.informationContainer {
		width: 100%;
		padding: 10px 20px;
	}
	.inputBox {
		width: 100%;
		min-width: auto;
		padding-right: 0;
	}
	.box {
		flex-direction: column;
		width: 100%;
	}
	.btn {
		margin-right: 0;
	}
	.btn button {
		width: 100%;
	}
	.cartContainer {
		width: 100%;
	}
}
