.wrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	left: 50%;
	transform: translate(-50%);
	max-width: 1200px;
	color: rgb(78, 76, 76);
}
.shippingContainer {
	width: 50%;
}
.cartContainer {
	width: 50%;
	height: 100vh;
	margin-left: 2em;
	border-left: 1px solid rgba(0, 0, 0, 0.199);
}
.shippingDataContainer,
.deliveryContainer {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	border-radius: 5px;
}
.shippingDataBox,
.shippingMethodsBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.border {
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.title {
	width: 20%;
	padding: 10px;
	font-size: 0.9em;
}
.data {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.data p {
	margin-right: 5px;
}
.btn {
	border: none;
	padding: 5px 10px;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.2s;
}
.btn:hover {
	color: rgba(0, 0, 0, 0.651);
}

.mainTitle {
	margin-top: 2em;
	margin-bottom: 2em;
}
.mainTitle h3 {
	margin-bottom: 0.5em;
}

.shippinOptionBox label {
	margin-left: 1em;
}

.shippingMethodsBox {
	padding: 10px 0px;
}
.nextPageBtn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2em;
	width: 100%;
}
.nextPageBtn button {
	padding: 15px 30px;
	border: none;
	background-color: rgb(17, 17, 17);
	color: aliceblue;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 0.5px;
	cursor: pointer;
}
