.mainContainer {
	position: relative;
	width: 100%;
}
.proba {
	position: relative;
}
.profilBox,
.border {
	margin: 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 20px;
}
.border {
	border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}
.profilBox div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profilBox h3 {
	font-size: 2em;
	margin-left: 0.5em;
}
.imageBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 5px black;
}
.image {
	height: 80%;
	width: 80%;
	cursor: pointer;
}
.optionIcon {
	font-size: 1.8em;
	cursor: pointer;
	border-radius: 50%;
	padding: 5px;
	transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.optionIcon:hover {
	transform: scale(1.05);
	color: rgb(248, 222, 187);
	background-color: rgba(0, 0, 0, 0.548);
}

.addBtnBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2em;
}
.addBtn {
	padding: 10px 20px;
	border: none;
	font-family: Josefin Sans;
	font-size: 1.2em;
	box-shadow: 0 0 2px black;
	letter-spacing: 2px;
	background-color: var(--main-text-nav);
	cursor: pointer;
	transition: background-color 0.3s;
}
.addBtn:hover {
	background-color: rgb(248, 222, 187);
}

/* ////////////////////// */
.productsMainContainer {
	margin-bottom: 4rem;
}
.title {
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	letter-spacing: 2px;
}

.productsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.paginationBox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 1em;
}

.paginationBox a {
	font-size: 1em;
	padding: 5px;
	margin: 0.5em;
	cursor: pointer;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}

.paginationBox a:hover {
	background-color: var(--main-text-nav);
}
.active {
	color: rgb(230, 160, 32);
}

/* ////////////////////// */

@media only screen and (max-width: 1024px) {
	.profilBox {
		justify-content: space-between;
	}
	.profilBox h3 {
		font-size: 1.4em;
		margin-left: 0.5em;
	}
	.imageBox {
		height: 60px;
		width: 60px;
	}
}
