.wraper {
	padding: 10px 40px;
	margin-top: 2em;
}
.productsContainer {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}
.imageBox {
	position: relative;
	display: flex;
}
.image {
	margin-right: 1em;
}

.productName h3 {
	margin-bottom: 0.4em;
}
.qtyBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.664);
	top: -15px;
	left: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	color: wheat;
	border-radius: 50%;
}
.priceBox {
	font-size: 1.1em;
}
.border {
	border-top: 1px solid rgba(0, 0, 0, 0.363);
	width: 100%;
}
.totalPriceBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}
.codeBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.codeBox button {
	padding: 14px;
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	border: none;
	width: 100px;
	color: white;
}
.unActive {
	background-color: gray;
}
.active {
	cursor: pointer;
	background-color: black;
}

.errorBox {
	margin-bottom: 2em;
	color: red;
}
.sumaryBox {
	margin-top: 1em;
	margin-bottom: 1em;
}

.sumaryPrice {
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.sumaryPrice p{
	margin-bottom: 1em;
}
@media screen and (max-width: 1206px) {
	.wraper {
		margin-top: 1em;
		padding: 10px 20px;
	}
	.productsContainer {
		padding: 5px;
	}
	.productName {
		font-size: 0.8em;
		width: 50%;
	}
	.priceBox {
		font-size: 1em;
		width: 20%;
		display: flex;
		justify-content: flex-end;
	}
	.codeBox {
		flex-direction: column;
		margin-bottom: 1em;
	}
	.codeBox button {
		padding: 14px;
		border-radius: 5px;
		outline: none;
		font-size: 1em;
		border: none;
		width: 100%;
		background-color: rgb(139, 136, 136);
		color: white;
	}
	.border {
		margin-bottom: 0.5em;
	}
}
