.cartContainer {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
	height: 100vh;
	width: 400px;
	z-index: 100;
	box-shadow: 0 0 3px black;
}
.controlPanel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 2em;
}
.emptyText {
	position: relative;
	top: 5em;
	text-align: center;
}
.closeBtn {
	position: absolute;
	top: -5px;
	left: 30px;
	font-size: 1.7em;
	cursor: pointer;
	padding: 5px;
	transition: transform 0.3s;
}
.closeBtn:hover {
	transform: scale(1.1);
}
