.cartContainer {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
	height: 100vh;
	width: 600px;
	z-index: 100000;
	box-shadow: 0 0 3px black;
	overflow: scroll;
}
.controlPanel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 2em;
}

.controlPanel p {
	margin-bottom: 2em;
}
.emptyText {
	position: relative;
	top: 5em;
	text-align: center;
}
.closeBtn {
	position: absolute;
	top: -5px;
	left: 30px;
	font-size: 1.7em;
	cursor: pointer;
	padding: 5px;
	transition: transform 0.3s;
}
.closeBtn:hover {
	transform: scale(1.1);
}
.delete {
	position: absolute;
	top: 5%;
	right: 10%;
	cursor: pointer;
	transition: color 0.3s;
}
.delete:hover {
	color: red;
}

.productsContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	top: 5em;
}
.productContainer {
	position: relative;
	width: 90%;
	border-top: 1px solid rgba(165, 157, 157, 0.301);
}
.productBox {
	margin-top: 1.5em;
	position: absolute;
	position: relative;
	display: flex;
	width: 90%;
	padding: 10px 20px;
}
.image {
	margin-right: 1.2em;
}

.name::first-letter {
	text-transform: uppercase;
}
.name {
	font-size: 1.2em;
}
.size {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}
.size span,
.price span {
	font-weight: bold;
	font-size: 1.2em;
}
.price {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.qtyBox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1em;
}
.qtyBox p {
	padding-right: 10px;
	padding-left: 10px;
}
.qtyBox button {
	font-size: 1.4em;
	padding: 2px 4px;
	background: none;
	border: none;
	cursor: pointer;
}
.plus,
.minus {
	transition: transform 0.3s;
}
.minus:hover,
.plus:hover {
	transform: scale(1.4);
}
.plus:hover {
	color: green;
}
.minus:hover {
	color: red;
}
.actionBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	width: 100%;
}
.actionBox button {
	margin-top: 2em;
	width: 90%;
	border: none;
	text-transform: uppercase;
	padding: 10px 20px;
	cursor: pointer;
	background-color: rgb(233, 231, 229);
	transition: background-color 0.3s;
}
.actionBox button:hover {
	background-color: rgb(201, 199, 198);
}
.totalPrice {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.active {
	opacity: 1;
	transform: translate(0%);
	animation: showCart 0.4s linear forwards ;
}
.inactive {
	opacity: 0;
	transform: translate(100%);
	animation: hideCart 0.4s linear forwards ;
}

@keyframes showCart {
	0% {
		opacity: 0;
		transform: translate(100%);
	
	}
	50% {
		opacity: 0.5;
		transform: translate(50%);
	}
	75%{
		
		opacity: 0.8;
		transform: translate(20%);
	}
	100% {
		opacity: 1;
		transform: translate(0%);
	
	}
}
@keyframes hideCart {
	0% {
		opacity: 01;
		transform: translate(0);
	}
	50% {
		opacity: 0.5;
		transform: translate(50%);
	}
	100% {
		opacity: 1;
		transform: translate(100%);
	}
}

@media screen and (max-width: 1024px) {
	.cartContainer {
		width: 100%;
	}
}
