.smallDevice {
	position: relative;
	display: flex;
	flex-direction: row;
}
.mainSmall {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	top: 2em;
	z-index: 100;
}

.burgerIcon {
	display: block;
	font-size: 2em;
	cursor: pointer;
	color: var(--main-text-nav);
}
.navSmallBox {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1000;
}
.navSmallBox h2 {
	margin: 1em;
}

.accountBoxSmall {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
}

.closeBtn {
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 2em;
	cursor: pointer;
	color: var(--black-color);
}
.cartBoxSmall,
.profileBoxSmall {
	position: relative;
	padding: 1em 2em;
}

.catogoryBoxSmall {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vh;
}

.logoSmall,
.logoBig {
	font-family: 'Kanit', sans-serif;
	font-size: 3em;
}
.searchIconSmall,
.searchIconBig {
	font-size: 1.5em;
	cursor: pointer;
}
.searchIconBig {
	color: var(--main-text-nav);
}
.searchIconSmall {
	color: var(--black-color);
}

.bigCartQty,
.smallCartQty {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.664);
	color: wheat;
	padding: 1px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}

.smallCartQty {
	top: -5%;
	right: 20%;
}
/*//////////////////////////////////////////////*/
.bigCartQty {
	top: -30%;
	right: -50%;
}

.bigDevices {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 1400px;
	border-bottom: 1px solid var(--main-text-nav);
	left: 50%;
	transform: translate(-50%);
	z-index: 10;
}
.mainBig {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 6em;
}

.searchBox,
.searchBoxSmall {
	border-bottom: 1px solid var(--main-text-nav);
}

.searchBox input,
.searchBoxSmall input {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0.5em;
	font-size: 1em;
}
.searchBoxSmall {
	border-color: var(--black-color);
}
.searchBox input {
	caret-color: var(--main-text-nav);
	color: var(--main-text-nav);
}

.accountBoxBig {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.cartBoxBig {
	margin-right: 2em;
}
.cartBoxBig,
.profileBoxBig {
	position: relative;
	width: 50%;
}
.icon,
.cartBoxBig {
	cursor: pointer;
	margin-bottom: 0.5em;
	transition: transform 0.3s;
}

.icon:hover,
.cartBoxBig:hover {
	transform: scale(1.1);
}

.catogoryBoxBig {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.nav-enter {
	opacity: 0;
	transform: translateY(-100%);
}

.nav-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 300ms, transform 300ms;
}

.nav-exit {
	opacity: 1;
	transform: translateY(0);
}

.nav-exit-active {
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 300ms, transform 300ms;
}

.profileContainer {
	position: relative;
}
.profilBoxBig {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.shake {
	animation: shake 0.3s linear;
}

.container {
	position: relative;
	height: 400px;
}

.heroImg {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.heroShadow {
	position: absolute;

	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.logoBig a,
.logoSmall a,
.accountBoxBig {
	color: var(--main-text-nav);
}

@keyframes shake {
	0% {
		transform: scale(1.1);
		box-shadow: 0 0 0 var(--black-color);
	}

	100% {
		transform: scale(1.2);
		box-shadow: 0 0 10px var(--black-color);
	}
}

@media only screen and (min-width: 1024px) {
	.smallDevices {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.bigDevices {
		display: none;
	}
	.profileContainer {
		position: unset;
	}
	.container {
		height: 300px;
	}

	.heroShadow {
		position: absolute;

		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}
}
