.mainContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	word-wrap: break-word;
	width: auto;
	height: 350px;
	margin: 5px;
	background-color: white;
}
.productCard {
	word-wrap: break-word;
	position: relative;
	width: auto;
	max-width: 250px;
	height: 100%;
}
.productCard p {
	letter-spacing: 2px;
	font-family: sans-serif;
}

.productImage {
	box-shadow: 0 0 2px black;
	background-color: #ebebeb;
	transition: transform 0.5s ease-in-out;
}

.productName {
	font-size: 0.9em;
	margin-top: 5px;
	text-transform: uppercase;
	font-style: italic;
}
.productPrice {
	margin-top: 10px;
	color: var(--black-color);
	font-size: 0.8em;
}
.btnBox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	opacity: 0;

}
.btnBox p {
	font-weight: bold;
	color: var(--main-text-nav);
}
.textShadow {
	margin-bottom: 1px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 20px;
}
.btnBox button {
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border: none;
	width: 100%;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: var(--main-text-nav);
}

.showUp {
	animation: showUp 0.4s forwards;
}
.hide {
	animation: hide 0.3s forwards;
}

@keyframes showUp {
	0% {
		opacity: 0;
		bottom: 10%;
	}
	100% {
		opacity: 1;
		bottom: 30%;
	}
}
@keyframes hide {
	0% {
		opacity: 1;
		bottom: 30%;
	}
	100% {
		opacity: 0;
		bottom: 20%;
	}
}
