*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* height: 100vh; */
	height: 100%;
	margin: 0;
	
	font-family: 'Josefin Sans', 'Kanit','Lexend Tera', sans-serif ;
		-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
	text-decoration: none;
}

:root {
	--main-text-nav: antiquewhite;
	--black-color: black;
}
