.inputBox {
	margin-top: 1em;
	position: relative;
	min-width: 290px;
	width: 100%;
	/* padding-right: 1em; */
}

.inputBox input {
	position: relative;
	width: 100%;
	padding: 14px;
	border: 1px solid rgba(2, 2, 2, 0.349);
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	margin-bottom: 1em;
}
.inputBox input::placeholder {
	color: transparent;
}
.inputBox input[type='number']::-webkit-inner-spin-button {
	display: none;
}

.inputBox label {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: gray;
	transition: 0.5s;
}

.inputBox input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
	color: black;
	transform: translate(10px) translateY(-7px);
	font-size: 0.95em;
	padding: 0 5px;
	letter-spacing: 1px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #fff;
}
.inputBox input:focus {
	border: 1px solid black;
}
.error input {
	border: 1px solid red;
}
.error input::placeholder {
	color: red;
	text-align: center;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	position: absolute;
}

@media screen and (max-width: 1206px) {
	.inputBox {
		padding-right: 0;
	}
}
